@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s cubic-bezier(0.25, 1, 0.5, 1), transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%; /* #3F51B5 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 286 100% 50%; /* #BE00FF */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 8% 4%; /* #0A0A0B */
    --foreground: 210 40% 98%;
    --card: 233 8% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 233 8% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%; /* #3F51B5 */
    --primary-foreground: 210 40% 98%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 286 100% 50%; /* #BE00FF */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animate-page-exit {
    animation: fade-out 0.8s ease-in-out forwards;
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in-up {
    animation: fade-in-up 0.8s both;
  }

  /* Animazione per il carosello dei loghi */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      /* Sposta l'elemento a sinistra del 50% della sua larghezza. */
      /* Poiché il contenuto è duplicato, questo crea un loop infinito. */
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 80s linear infinite;
  }
  .animation-direction-reverse {
    animation-direction: reverse;
  }
}
